.DeviceList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

@media(max-width: 992px) {
    .DeviceList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 768px) {
    .DeviceList {
        grid-template-columns: repeat(1, 1fr);
    }
}